@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* Set main custom font */
body {
  font-family: 'Sora', sans-serif;
}

/* Footer text styling */
footer * {
  color: darkviolet;
}

/* Project name title styling */
h1#project-name {
  text-align: center;
  color: rgb(142, 68, 173);
  background-color: rgba(142, 68, 173, 0.15);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(142, 68, 173);
  border-radius: 10pt;
}

/* Add underline to labels for h2 headers */
h2 > .header-label {
  text-decoration: underline;
}

/* h3 text styling */
h3 {
  color: hsl(187.5, 6%, 27%);
}

/* Agenda summary border */
h2#agenda ~ details {
  border: 1px solid black;
  border-radius: 0.25cm;
  padding: 10px 5px 10px 10px;
}

/* Add spacing between sections */
section {
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Ensure first section does not have top margin */
section:first-of-type + section {
  margin-top: 0;
}
