@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* Set main custom font */
* {
  font-family: 'Sora', sans-serif;
}

/* Header h2 center alignment */
header h2 {
  width: 50vw;
  margin: auto;
  text-align: center;
}

/* Footer text styling */
footer {
  color: darkviolet;
  position: relative;
}

/* Put span text on the right side of the footer */
footer span {
  position: absolute;
  right: 10px;
}

/* Project name title styling */
#project-name {
  text-align: center;
  color: rgb(142, 68, 173);
  background-color: rgba(142, 68, 173, 0.15);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(142, 68, 173);
  border-radius: 10pt;
}

/* Add underline to labels for h2 headers */
h2 > .header-label {
  margin-top: 5px;
  text-decoration: underline;
  display: block;
}

/* h3 text styling */
h3 {
  color: hsl(187.5, 6%, 27%);
}

/* Agenda summary border */
h2#agenda ~ details {
  border: 1px solid black;
  border-radius: 0.25cm;
  padding: 10px 5px 10px 10px;
}

/* Add spacing between sections */
section {
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Ensure first section does not have top margin */
section:first-of-type + section {
  margin-top: 0;
}

/* Job role styling */
.job-role {
  margin: 5px 10px 5px 10px;
  background-color: rgba(127, 140, 141, 0.15);
  color: rgb(127,140,141);
  border-radius: 10px;
  padding: 4px 5px;
}

h2#attendance + ul > li {
  margin-top: 1.2ex;
}

/* Menu bar styling */
.menu-bar-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: darkgray;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.menu-bar-container a {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  color: black;
  text-decoration: none;
}

/* Menu bar item is bold when hovered */
.menu-bar-container a:hover {
  font-weight: bolder;
}

/* Ensure flex becomes a column when size is phone screen or smaller */
@media (max-width: 500px) {
  .menu-bar-container {
    flex-direction: column !important;
  }
}

/* Add grid to diagram pictures */
.diagram-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
}

/* Hide hidden header/footer text */
footer .footer-hidden, header .header-hidden {
  display: none;
}

/* Set textarea max size */
textarea {
  max-width: 500px;
  max-height: 200px;
}

/* Submit button styling */
button[type="submit"] {
  background-color: rgba(128, 0, 128, 0.6);
  color: white;
  border-radius: 10px;
  padding: 5px;
  height: 40px;
  width: 120px;
}

button[type="submit"]:hover {
  background-color: rgba(128, 0, 128, 0.7);
}

button[type="submit"]:active {
  background-color: rgb(128, 0, 128, 0.9);
}